# to stamp the binary pass --config=beta or --config=release
build:beta --stamp
build:beta --workspace_status_command=bzl/tools/stamp.sh

build:release --stamp
build:release --workspace_status_command=bzl/tools/stamp.sh

try-import user.bazelrc
