*
!src/opam.export
!coda.deb
!coda-discovery.deb
!scripts/run-demo.sh
!src/external/**/*
!src/app/libp2p_helper
!src/app/trace-tool
!src/app/archive/create_schema.sql
!src/app/rosetta/start.sh
!buildkite/
