*
!src/opam.export
!src
!coda.deb
!mina.deb
!coda-discovery.deb
!scripts/run-demo.sh
!scripts
!Makefile
!graphql_schema.json
!dune-project
!src/external/**/*
!src/app/libp2p_helper
!src/app/trace-tool
!src/app/archive/create_schema.sql
!src/app/rosetta/start.sh
**/.git
src/lib/marlin/target
src/lib/snarky/_build
src/lib/marlin_plonk_bindings/stubs/target
src/lib/snarky/website
src/app/libp2p_helper/result
