(* GENERATED GENESIS LEDGER AT: {{ now }} *)

open Core
open Coda_base
open Functor

let accounts = [
{%- for account in accounts %}
   {% if loop.first %}
     {{- '  ' + account }}
   # discard empty strings
   {%- elif account|length <= 2 %}
   {%- else %}
     {{- '; ' + account }}
   {%- endif %}
{%- endfor %}
]

module Accounts = struct
  let accounts = List.map accounts ~f:(fun s ->
    let account = Yojson.Safe.from_string s |> Account.Stable.Latest.of_yojson |> Result.ok_or_failwith in
    (None,account))
end

include Make_from_base (Accounts)
