[submodule "src/lib/snarky"]
	path = src/lib/snarky
	url = ../../o1-labs/snarky
[submodule "src/external/ppx_optcomp"]
	path = src/external/ppx_optcomp
	url = ../ppx_optcomp
[submodule "src/external/async_kernel"]
	path = src/external/async_kernel
	url = ../async_kernel
