.bazel
bazel-*
user.bazelrc
.cpcache/

_build*
*.pdf
*.install
.merlin*
result
*.ignore
*.log
*.aux
src/config.mlh
src/config/config.mlh
src/external/ocaml-rocksdb/rocksdb
.stack-work/
/wallet-keys/
test_output
.firebase/
node_modules/
.DS_Store
.graphql_ppx_cache
/scripts/archive/output
accounts.json
src/app/libp2p_helper/src/libp2p_helper/libp2p_helper
src/app/validation/_build
src/app/validation/config/local.exs
src/app/validation/cover
src/app/validation/deps
src/app/validation/doc
src/app/validation/priv/plts
src/libp2p_ipc/libp2p_ipc.capnp.go
src/libp2p_ipc/libp2p_ipc_capnp.ml
src/libp2p_ipc/libp2p_ipc_capnp.mli
maintenance/*.dot
maintenance/*.png

scripts/genesis_ledger.json

automation/*config.json
automation/!bsconfig.json
automation/*/venv/*
automation/ec2.json
automation/*credentials.json
automation/token.pickle
automation/.merlin
automation/lib
automation/keys/genesis/*
automation/keys/keypairs/*
automation/keys/keysets/*
automation/keys/api-keys/*
automation/keys/testnet-keys/*
automation/keys/libp2p/*
automation/src/*.js
automation/node_modules/

automation/scripts/offline_fish_keys
automation/scripts/offline_whale_keys
automation/scripts/online_fish_keys
automation/scripts/online_whale_keys
automation/scripts/service_keys
automation/scripts/genesis_ledger.json
automation/scripts/annotated_ledger.json

automation/Digraph.gv
automation/Digraph.gv.png
automation/**/__pycache__/**

automation/nightly-logs

automation/daemon.json

automation/discord_webhook_url.txt
automation/*-accounts.csv
automation/block_tree.gv.png
automation/gcloud-keyfile.json
automation/services/watchdog/check_libp2p/check_libp2p

*.backup

*.terraform.lock.hcl
_opam

target
release
Cargo.lock
.vscode
