# Ignore vendored code when calculating repo code %s
# libsnark is lots of c++
automation/** linguist-vendored
# PragmataPro requires a license and costs $$, let's protect it with password
# protected zip file
frontend/website/static/font/PragmataPro.zip filter=lfs diff=lfs merge=lfs -text
frontend/website/static/presskit.zip filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
frontend/website/static/*.bc.js filter=lfs diff=lfs merge=lfs -text
src/app/archive/archive_graphql_schema.json linguist-generated=true
docs/res/block_production_fsm.dot.png filter=lfs diff=lfs merge=lfs -text
