.bazel
user.bazelrc
_build*
*.pdf
*.install
.merlin*
result
*.ignore
*.log
*.aux
src/config.mlh
src/config/config.mlh
src/external/ocaml-rocksdb/rocksdb
.stack-work/
/wallet-keys/
test_output
.firebase/
node_modules/
.DS_Store
.graphql_ppx_cache
/scripts/archive/output
accounts.json
src/app/libp2p_helper/src/generate_methodidx/generate_methodidx
src/app/libp2p_helper/src/libp2p_helper/libp2p_helper
src/app/validation/_build
src/app/validation/config/local.exs
src/app/validation/cover
src/app/validation/deps
src/app/validation/doc
src/app/validation/priv/plts
