.bazel
bazel-*
user.bazelrc
.cpcache/

_build*
*.pdf
*.install
.merlin*
result
*.ignore
*.log
*.aux
src/config.mlh
src/config/config.mlh
src/external/ocaml-rocksdb/rocksdb
.stack-work/
/wallet-keys/
test_output
.firebase/
node_modules/
.DS_Store
.graphql_ppx_cache
/scripts/archive/output
accounts.json
src/app/libp2p_helper/src/generate_methodidx/generate_methodidx
src/app/libp2p_helper/src/libp2p_helper/libp2p_helper
src/app/validation/_build
src/app/validation/config/local.exs
src/app/validation/cover
src/app/validation/deps
src/app/validation/doc
src/app/validation/priv/plts
maintenance/*.dot
maintenance/*.png

coda-automation/*config.json
coda-automation/!bsconfig.json
coda-automation/*/venv/*
coda-automation/ec2.json
coda-automation/*credentials.json
coda-automation/token.pickle
coda-automation/.merlin
coda-automation/lib
coda-automation/keys/genesis/*
coda-automation/keys/keypairs/*
coda-automation/keys/keysets/*
coda-automation/keys/api-keys/*
coda-automation/keys/testnet-keys/*
coda-automation/src/*.js
coda-automation/node_modules/

coda-automation/scripts/offline_fish_keys
coda-automation/scripts/offline_whale_keys
coda-automation/scripts/online_fish_keys
coda-automation/scripts/online_whale_keys
coda-automation/scripts/service_keys
coda-automation/scripts/genesis_ledger.json
coda-automation/scripts/annotated_ledger.json

coda-automation/Digraph.gv
coda-automation/Digraph.gv.png
coda-automation/**/__pycache__/**

coda-automation/nightly-logs

coda-automation/daemon.json

coda-automation/discord_webhook_url.txt
coda-automation/*-accounts.csv
coda-automation/block_tree.gv.png
