/CODEOWNERS @nholland94 @bkase @imeckler
/buildkite @CodaProtocol/infra-eng-reviewers
/frontend/ @CodaProtocol/product-eng-reviewers
/dockerfiles/ @CodaProtocol/infra-eng-reviewers
/scripts/ @CodaProtocol/infra-eng-reviewers @CodaProtocol/protocol-eng-reviewers
/Makefile @CodaProtocol/infra-eng-reviewers
/src/config/dev.mlh @CodaProtocol/infra-eng-reviewers @CodaProtocol/protocol-eng-reviewers
/src/config/testnet_postake_medium_curves.mlh @CodaProtocol/infra-eng-reviewers @CodaProtocol/protocol-eng-reviewers
/CODE_OF_CONDUCT.md @imeckler @emberian
/CONTRIBUTING.md @CodaProtocol/product-eng-reviewers
/LICENSE @imeckler
/README.md @CodaProtocol/product-eng-reviewers
/README-dev.md @CodaProtocol/protocol-eng-reviewers

/src/external/ @emberian @bkase @psteckler @imeckler

/src/app/archive @CodaProtocol/product-eng-reviewers
/src/app/cli/src/tests @CodaProtocol/protocol-eng-reviewers
/src/app/cli/src/coda.ml @CodaProtocol/protocol-eng-reviewers
/src/app/cli/src/init @CodaProtocol/protocol-eng-reviewers
/src/app/libp2p_helper @CodaProtocol/protocol-eng-reviewers
/src/app/reformat/ @CodaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @CodaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @CodaProtocol/protocol-eng-reviewers

/src/lib/ @CodaProtocol/protocol-eng-reviewers

/src/lib/blake2/ @CodaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @CodaProtocol/product-eng-reviewers
/src/lib/coda_commands @CodaProtocol/product-eng-reviewers
/src/lib/coda_graphql @CodaProtocol/product-eng-reviewers
/src/lib/coda_numbers/ @CodaProtocol/crypto-eng-reviewers
/src/lib/crs/ @CodaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @CodaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @CodaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @CodaProtocol/crypto-eng-reviewers
/src/lib/pickles/ @CodaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @CodaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @CodaProtocol/crypto-eng-reviewers
/src/lib/pokolog/ @CodaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @CodaProtocol/crypto-eng-reviewers
/src/lib/sha256_lib/ @CodaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snark_keys/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky_log/ @CodaProtocol/crypto-eng-reviewers
/src/lib/snarky_pairing/ @CodaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @CodaProtocol/crypto-eng-reviewers

/src/nonconsensus @CodaProtocol/protocol-eng-reviewers
