/CODEOWNERS @MinaFoundation/product-eng-reviewers @MinaFoundation/protocol-eng-reviewers @MinaFoundation/infra-eng-reviewers
/CONTRIBUTING.md @MinaFoundation/product-eng-reviewers
/LICENSE @MinaFoundation/product-eng-reviewers
/README.md @MinaFoundation/product-eng-reviewers
/README-dev.md @MinaFoundation/protocol-eng-reviewers
/graphql_schema.json @MinaFoundation/product-eng-reviewers

/.github/ @MinaFoundation/infra-eng-reviewers
/src/ @MinaFoundation/protocol-eng-reviewers
