.info {
  width: 300px;
  padding: 30px;
  background-color: #F9FAFC;
}

.info p {
  font-size: 14pt;
}

.header {
  display: flex;
  width: 1200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  width: 170px;
  height: 100px;
  float: left;
  background-image: url(logo.svg);
  background-size: 170px 100px;
}

.image {
  display: flex;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.accounts {
  width: 400px;
  display: inline-flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.state-with-proof {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
}

.state {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.record {
    background-color: #F9FAFC;
    border: 3px solid #1F2D3D;
    padding: 5px;
}

.record-entry {
    border: 3px solid #1F2D3D;
    background-color: #F9FAFC;
    margin: 10px;
    flex-grow: 1;
    min-width: 1%;
}

.record-entry-label {
    background-color: #1F2D3D;
    height: 20px;
    font-size: 20px;
    color: white;
    padding: 7px;
}

.record-entry-value {
    word-wrap: break-word;
    padding: 10px;
}

.proof {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.proof .record-entry-value {
    font-size: 8pt;
}

.proof.valid .record-entry-label {
    background-color: #39B54A;
}

.proof.valid {
    border-color: #39B54A;
}

.proof.verifying .record-entry-label {
    background-color: #FBB03B;
}

.proof.verifying {
    border-color: #FBB03B;
}

.proof.invalid .record-entry-label {
    background-color: #ED1C24;
}

.proof.invalid {
    border-color: #ED1C24;
}

.merkle-tree {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.record-row {
  display: flex;
  width: 100%;
}


.modal {
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  z-index: 999;
  border: 1px solid #888;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal_contents {
  padding: 50px;
  font-size: 30px;
  font-family: "metropolis", helvetica neue, helvetica, sans-serif;
}

.small_modal {
  top: 50%;
  left: 50%;
  width: 800px;
  height: 400px;
  margin-top: -200px;
  margin-left: -400px;
}

.button {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: rgb(25, 146,254);
  color: white;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 50px;
}

.corner {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #222;
  color: white;
  border-radius: 25px;
  font-family: sans-serif;
  font-size: 30px;
  line-height: 50px;
}

.hidden {
  display: none;
}

.tooltip {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.tooltip_indicator {
  border: 3px solid #1F2D3D;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  position: absolute;
}
