.widthinfo {
  width: 300px;
  padding: 30px;
  background-color: #F9FAFC;
}

.info p {
  font-size: 14pt;
}

.header {
  display: flex;
  width: 1600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  width: 100px;
  height: 100px;
  float: left;
  background: url(logo.svg);
  background-size: 100px 100px;
}

.image {
  display: flex;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.state-with-proof {
    width: 400px;
    display: inline-flex;
    flex-direction: column;
}

.state {
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

.record {
    background-color: #F9FAFC;
    border: 3px solid #1F2D3D;
    padding: 5px;
}

.record-entry {
    border: 3px solid #1F2D3D;
    background-color: #F9FAFC;
    margin: 10px;
    flex-grow: 1;
    min-width: 1%;
}

.record-entry-label {
    background-color: #1F2D3D;
    height: 20px;
    font-size: 20px;
    color: white;
    padding: 7px;
}

.record-entry-value {
    word-wrap: break-word;
    padding: 10px;
}

.proof {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.proof .record-entry-value {
    font-size: 8pt;
}

.proof.valid .record-entry-label {
    background-color: #39B54A;
}

.proof.valid {
    border-color: #39B54A;
}

.proof.verifying .record-entry-label {
    background-color: #FBB03B;
}

.proof.verifying {
    border-color: #FBB03B;
}

.proof.invalid .record-entry-label {
    background-color: #ED1C24;
}

.proof.invalid {
    border-color: #ED1C24;
}

.merkle-tree {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.record-row {
  display: flex;
  width: 100%;
}


.modal {
  position: fixed;
  top: 200px;
  bottom: 200px;
  left: 200px;
  right: 200px;
  z-index: 999;
  border: 1px solid #888;
  background-color: rgba(255, 255, 255, 0.9);
}

.button {
  width: 200px;
  height: 100px;
  background-color: red;

}

.hidden {
  display: none;
}

.tooltip {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.tooltip_indicator {
  border: 1px solid black;
  border-radius: 10px;
  width: 20px;
  height: 20px;

}
