

.breadcrumb {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: .375em;
  border-radius: 100%;
  border: 1px solid #888;
  overflow: hidden;
}

.breadcrumb.full {
  background-color: rgb(25, 146,254);
}

.bread_button {
  display: inline-block;
  height: 1.5em;
  margin: .375em;
  vertical-align: top;
  line-height: 1.5em;
  overflow: hidden;
}

.bread_button:hover .breadcrumb:hover {
  cursor: pointer;
}
