# Docker images
MINA_DAEMON_IMAGE=minaprotocol/mina-daemon:3.3.1-7b34378-noble-mainnet

# Network
MINA_NETWORK=mainnet
MINA_PEERLIST_URL=https://bootnodes.minaprotocol.com/networks/mainnet.txt

# Required: passphrase for the libp2p key
MINA_LIBP2P_PASS=

# Mina daemon ports
MINA_REST_PORT=3085
MINA_P2P_PORT=8302
