# Postgres
POSTGRES_DB=archive
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

# Docker images
MINA_DAEMON_IMAGE=gcr.io/o1labs-192920/mina-daemon:3.3.0-alpha1-6929a7e-bullseye-devnet
MINA_ARCHIVE_IMAGE=gcr.io/o1labs-192920/mina-archive:3.3.0-alpha1-6929a7e-bullseye-devnet
MINA_ROSETTA_IMAGE=gcr.io/o1labs-192920/mina-rosetta:3.3.0-alpha1-6929a7e-bullseye-devnet

# Network
MINA_NETWORK=devnet
MINA_PEERLIST_URL=https://bootnodes.minaprotocol.com/networks/devnet.txt
MINA_LIBP2P_PASS=

# Mina daemon ports
MINA_REST_PORT=3085
MINA_P2P_PORT=8302

# Mina archive
MINA_ARCHIVE_PORT=3086

# Mina rosetta
MINA_ROSETTA_PORT=3087
MINA_ROSETTA_MAX_DB_POOL_SIZE=80
MINA_ROSETTA_PG_DATA_INTERVAL=30

# Missing blocks guardian
GUARDIAN_PRECOMPUTED_BLOCKS_URL=https://673156464838-mina-precomputed-blocks.s3.us-west-2.amazonaws.com/devnet
# GUARDIAN_SLEEP_INTERVAL=600  # optional, defaults to 600

# Archive DB bootstrap
ARCHIVE_DUMP_BASE_URL=https://storage.googleapis.com/mina-archive-dumps
ARCHIVE_DUMP_PREFIX=devnet-archive-dump
