profile=ocamlformat
quiet=false
max-iters=10
comment-check=true
wrap-fun-args=true
wrap-comments=false
type-decl=compact
space-around-variants=true
space-around-records=true
space-around-lists=true
space-around-arrays=true
single-case=compact
sequence-style=separator
sequence-blank-line=preserve-one
parse-docstrings=false
parens-tuple=always
parens-ite=false
ocp-indent-compat=false
module-item-spacing=sparse
max-indent=68
margin=80
let-module=compact
let-binding-spacing=compact
let-and=compact
leading-nested-match-parens=false
infix-precedence=indent
indicate-nested-or-patterns=space
indicate-multiline-delimiters=space
if-then-else=compact
field-space=loose
exp-grouping=parens
dock-collection-brackets=false
doc-comments-tag-only=default
doc-comments-padding=2
doc-comments=before
disable=false
cases-matching-exp-indent=normal
cases-exp-indent=4
break-sequences=false
break-separators=before
break-infix-before-func=true
break-infix=wrap
break-fun-sig=wrap
break-fun-decl=wrap
break-cases=nested
assignment-operator=end-line
