{"genesis":{"genesis_state_timestamp":"${GENESIS_STATE_TIMESTAMP}"},"proof":{"signature_kind":"testnet"},"ledger":{"name": "rosetta-demo","accounts":[{"pk":"${PK}","balance":"66000","sk":null,"delegate":null}]}}
