## src: bzl/obazl/mina/src/lib/snark_keys/remove_snark_keys_trigger
################################################################
TOOL = "//src/lib/snark_keys/remove_snark_keys_trigger/clear_keys:clear_keys.exe"
genrule(
    name = "gensrcs",
    outs = ["remove_keys_trigger.ml"],
    tools = [TOOL],
    cmd = "\n".join([
        "$(location {tool})".format(tool=TOOL),
        "cp remove_keys_trigger.ml \"$@\"",
    ]),
)
