{{ range until ($.Values.plainNodesConfig.count | int) }}
{{ $name := printf "%s%d" $.Values.plainNodesConfig.namePrefix (add . 1) }}
{{ $itn_port := add $.Values.plainNodesConfig.itnGraphqlPort . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  labels:
    app: {{ $name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $name }}
  template:
    metadata:
      labels:
        app: {{ $name }}
        testnet: {{ $.Values.testnetName }}
        role: plain-node
        class: "plain-node"
        version: {{ trunc 6 (split ":" $.Values.mina.image)._1 | trimSuffix "-" }}
        syncStatus: INIT
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: {{ $.Values.mina.ports.metrics | quote }}
        prometheus.io/path: '/metrics'
    spec:
      priorityClassName: low-priority-preemptible
      {{ include "sideCar.podAttrs" (dict "resources" $.Values.resources "bpfDebugger" $.Values.bpfDebugger) | nindent 6 }}
      initContainers:
      {{ if $.Values.itn.enable }}
      - name: fix-uptime-key-perms
        image: busybox
        command:
        - sh
        - -c
        - /bin/cp /umptime-keys/key /root/uptime-keys/key && /bin/chmod 0700 /root/uptime-keys/
        volumeMounts:
        - name: uptime-keys
          mountPath: /umptime-keys/
          readOnly: true
        - name: actual-uptime-keys
          mountPath: /root/uptime-keys/
      {{- end }}
      - name: libp2p-perms
        image: {{ $.Values.mina.image | quote }}
        command:
        - bash
        - -c
        - mina libp2p generate-keypair --privkey-path /root/libp2p-keys/key && /bin/chmod -R 0700 /root/libp2p-keys/
        volumeMounts:
        - name: actual-libp2p
          mountPath: /root/libp2p-keys
        env:
          - name: MINA_LIBP2P_PASS
            value: {{ $.Values.mina.privkeyPass | quote }}
        resources:
          limits:
            memory: {{ $.Values.mina.memRequest }}
            cpu: {{ $.Values.mina.cpuRequest }}
          requests:
            memory: {{ $.Values.mina.memRequest }}
            cpu: {{ $.Values.mina.cpuRequest }}
        image: {{ $.Values.mina.image }}
      containers:
      {{ include "sideCar.resources.containerSpec" (dict "resources" $.Values.resources) | nindent 6 }}
      {{ include "sideCar.bpfDebugger.containerSpec" (dict "bpfDebugger" $.Values.bpfDebugger) | nindent 6 }}
      {{ include "sideCar.logs.containerSpec" (dict "logs" $.Values.logs "name" $name) | nindent 6 }}
      {{ include "sideCar.internalTrace.containerSpec" (dict "internalTrace" $.Values.internalTrace "name" $name) | nindent 6 }}
      - name: mina
        resources:
          limits:
            memory: {{ $.Values.mina.memRequest }}
            cpu: {{ $.Values.mina.cpuRequest }}
          requests:
            memory: {{ $.Values.mina.memRequest }}
            cpu: {{ $.Values.mina.cpuRequest }}
        image: {{ $.Values.mina.image }}
        {{ if $.Values.mina.useCustomEntrypoint -}}
        command: [{{ $.Values.mina.customEntrypoint }}]
        {{- end }}
        args: [ "daemon",
          "-log-level", "Debug",
          "-log-json",
          "-log-snark-work-gossip", "true",
          "-config-directory", "/root/.mina-config",
          "-client-port", "$(DAEMON_CLIENT_PORT)",
          "-rest-port", "$(DAEMON_REST_PORT)",
          {{- if $.Values.internalTrace.enable}}
          "-internal-tracing",
          {{- end -}}
          {{- if $.Values.itn.enable }}
          "-itn-keys", {{ $.Values.itn.keys }},
          "-itn-graphql-port", "$(MINA_ITN_GRAPHQL_PORT)",
          "-uptime-submitter-key", "/root/uptime-keys/key",
          "-uptime-url", "http://65.21.195.80:6000/v1/submit",
          "-node-status-url", "https://node-stats-viable-systems.minaprotocol.tools/submit",
          "-node-error-url", "https://node-error-viable-systems.minaprotocol.tools/submit",
          {{- end }}
          {{- if $.Values.mina.exposeGraphql }}
          "-insecure-rest-server",
          {{- end -}}
          {{- if $.Values.mina.usePodIp }}
          "-external-ip", "$(DAEMON_POD_IP)",
          {{- end }}
          "-external-port", "$(DAEMON_EXTERNAL_PORT)",
          "-metrics-port", "$(DAEMON_METRICS_PORT)",
          "-enable-peer-exchange", "true",
          "-libp2p-keypair", "/root/libp2p-keys/key",
          {{- if $.Values.mina.runtimeConfig }}
          "-config-file", "/config/daemon.json",
          {{- end }}
          {{- if $.Values.mina.logPrecomputedBlocks }}
          "-log-precomputed-blocks", "true",
          {{- end -}}
          {{- if $.Values.mina.logTxnPoolGossip }}
          "-log-txn-pool-gossip", "true",
          {{- end -}}
          {{- if $.Values.mina.maxConnections }}
          "--max-connections", {{ $.Values.mina.maxConnections | quote }},
          {{- end -}}
          {{- range $.Values.mina.seedPeers }}
          "-peer", {{ . | quote }},
          {{- end }}
          "-generate-genesis-proof", {{ $.Values.mina.generateGenesisProof | quote }},
          {{- if $.Values.mina.uploadBlocksToGCloud }}
          "-upload-blocks-to-gcloud", "true",
          {{- end }}
        ]
        env:
        - name: "RAYON_NUM_THREADS"
          value: "6"
        - name: DAEMON_REST_PORT
          value: {{ $.Values.mina.ports.graphql | quote }}
        - name: DAEMON_CLIENT_PORT
          value: {{ $.Values.mina.ports.client | quote }}
        - name: DAEMON_METRICS_PORT
          value: {{ $.Values.mina.ports.metrics | quote }}
        - name: MINA_LIBP2P_PASS
          value: {{ $.Values.mina.privkeyPass | quote }}
        - name: MINA_CLIENT_TRUSTLIST
          value: "10.0.0.0/8"
        - name: GCLOUD_KEYFILE
          value: "/gcloud/keyfile.json"
        - name: NETWORK_NAME
          value: {{ $.Values.testnetName }}
        - name: GCLOUD_BLOCK_UPLOAD_BUCKET
          value: "mina_network_block_data"
        - name: DAEMON_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DAEMON_EXTERNAL_PORT
          value: {{ $.Values.mina.ports.p2p | quote }}
        {{ if $.Values.mina.optimized }}
        - name: MINA_SKIP_REDUNDANT_SNARK_VERIFICATIONS
          value: "1"
        - name: MINA_PARTIAL_STATEMENT_HASH
          value: "1"
        {{ end -}}
        - name: MINA_ITN_GRAPHQL_PORT
          value: {{ $itn_port | quote }}
        - name: UPTIME_PRIVKEY_PASS
          value:
        {{ include "sideCar.bpfDebugger.envVar" (dict "bpfDebugger" $.Values.bpfDebugger) | nindent 8 }}
        ports:
        - name: client-port
          protocol: TCP
          containerPort: {{ $.Values.mina.ports.client }}
        - name: graphql-port
          protocol: TCP
          containerPort: {{ $.Values.mina.ports.graphql }}
        - name: metrics-port
          protocol: TCP
          containerPort: {{ $.Values.mina.ports.metrics }}
        - name: external-port
          protocol: TCP
          containerPort: {{ $.Values.mina.ports.p2p }}
          #hostPort: {{ $.Values.mina.ports.external }}
{{$data := dict "name" $name "healthcheck" $.Values.healthcheck }}
{{- include "healthcheck.seed.allChecks" $data | indent 8 }}
        imagePullPolicy: Always
        volumeMounts:
        - name: actual-libp2p
          mountPath: /root/libp2p-keys
        {{- if $.Values.mina.uploadBlocksToGCloud }}
        - name: gcloud-keyfile
          mountPath: "/gcloud/"
        {{- end }}
        {{- if $.Values.mina.runtimeConfig }}
        - name: daemon-config
          mountPath: "/config/"
        {{- end }}
        {{- if $.Values.logs.enable }}
        - name: {{ template "sideCar.logs.minaLogsVolumeName" }}
          mountPath: "/root/.mina-config"
        {{- end }}
        - name: scripts
          mountPath: "/scripts"
        {{- if $.Values.itn.enable }}
        - name: actual-uptime-keys
          mountPath: /root/uptime-keys/
        {{- end }}
      volumes:
      {{- if $.Values.mina.runtimeConfig }}
      - name: daemon-config
        configMap:
          name: plain-node-daemon-config
      {{- end }}
      {{- if $.Values.mina.uploadBlocksToGCloud }}
      - name: gcloud-keyfile
        secret:
          secretName: gcloud-keyfile
          defaultMode: 256
          items:
          - key: keyfile
            path: keyfile.json
      {{- end }}
      - name: actual-libp2p
        emptyDir: {}
      {{ include "sideCar.bpfDebugger.volume" (dict "bpfDebugger" $.Values.bpfDebugger) | nindent 6 }}
      {{ include "sideCar.logs.minaLogsVolume" (dict "logs" $.Values.logs) | nindent 6 }}
      - name: scripts
        configMap:
          defaultMode: 0755
          name: scripts
          items:
          - key: "unset-k8s-env.sh"
            path: "unset-k8s-env.sh"
      {{- if $.Values.itn.enable }}
      - name: uptime-keys
        secret:
          secretName: {{ $name }}-uptime-key-secret
          defaultMode: 256
          items:
          - key: key
            path: key
          - key: pub
            path: key.pub
      - name: actual-uptime-keys
        emptyDir: {}
      {{- end}}
{{- include "nodeSelector.preemptible" $.Values | indent 6 }}
---
{{- if $.Values.mina.exposeGraphql }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-graphql
spec:
  type: ClusterIP
  publishNotReadyAddresses: true
  selector:
    app: {{ $name }}
  ports:
  - name: http-graphql
    protocol: TCP
    port: 80
    targetPort: {{ $.Values.mina.ports.graphql }}
{{- end }}
---
{{- if $.Values.itn.enable }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-itn-graphql
spec:
  type: NodePort
  publishNotReadyAddresses: true
  selector:
    app: {{ $name }}
  ports:
  - name: http-graphql
    protocol: TCP
    port: {{ $itn_port }}
    nodePort: {{ $itn_port }}
    targetPort: {{ $itn_port }}
{{- end }}
{{ include "sideCar.resources.service" (dict "name" $name "resources" $.Values.resources) }}
{{ include "sideCar.bpfDebugger.service" (dict "name" $name "bpfDebugger" $.Values.bpfDebugger) }}
{{ include "sideCar.logs.service" (dict "name" $name "logs" $.Values.logs) }}
{{ include "sideCar.internalTrace.service" (dict "name" $name "internalTrace" $.Values.internalTrace) }}

---
{{ end }}
