*config.json
!bsconfig.json
*/venv/*
ec2.json
*credentials.json
token.pickle
.merlin
lib
keys/genesis/*
keys/keypairs/*
keys/keysets/*
keys/api-keys/*
keys/testnet-keys/*
src/*.js
node_modules/

scripts/offline_fish_keys
scripts/offline_whale_keys
scripts/online_fish_keys
scripts/online_whale_keys
scripts/service_keys
scripts/genesis_ledger.json
scripts/annotated_ledger.json

Digraph.gv
Digraph.gv.png
**/__pycache__/**

nightly-logs

daemon.json

discord_webhook_url.txt
*-accounts.csv
block_tree.gv.png
