# Docker images
MINA_DAEMON_IMAGE=gcr.io/o1labs-192920/mina-daemon:3.3.0-alpha1-6929a7e-bullseye-devnet

# Network
MINA_NETWORK=devnet
MINA_PEERLIST_URL=https://bootnodes.minaprotocol.com/networks/devnet.txt

# Required: passphrases for the SNARK fee account and libp2p key
MINA_PRIVKEY_PASS=
MINA_LIBP2P_PASS=

# Mina daemon ports
MINA_REST_PORT=3085
MINA_P2P_PORT=8302
MINA_DAEMON_CLIENT_PORT=8301

# SNARK coordinator settings
MINA_SNARK_FEE=0.001
MINA_WORK_SELECTION=rand

# SNARK worker settings (full | check | none)
MINA_PROOF_LEVEL=full
