[Unit]
Description=Mina Daemon Service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Environment="PEERS_LIST_URL=PEERS_LIST_URL_PLACEHOLDER"
Environment="KEY_NAME=my-wallet"
Environment="LOG_LEVEL=Info"
EnvironmentFile=%h/.mina-env
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/local/bin/mina daemon \
  -peer-list-url "${PEERS_LIST_URL}" \
  -block-producer-key "%h/keys/${KEY_NAME}" \
  -log-level "${LOG_LEVEL}" \
  $EXTRA_FLAGS
ExecStop=/usr/local/bin/mina client stop-daemon

[Install]
WantedBy=default.target
