[Unit]
Description=Coda Daemon Service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
EnvironmentFile=-/etc/default/coda-config
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/coda daemon \
  -peer-list-file %h/peers.txt \
  -block-producer-key %h/keys/mywallet \
  -background \
  -log-level Info
ExecStop=/usr/bin/coda client stop-daemon

[Install]
WantedBy=multi-user.target

