.post-container h1.post-title {
  font-size: 22pt;
}

.post-container h1 {
  font-size: 18pt;
}

.post-container h2 {
  font-size: 16pt;
}

.medium-blog-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.small-blog-image {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.post-container {
  font-size: 14pt;
}

.blog-image-wrapper .caption {
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  padding: 10px;
}

.call-to-action-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fffef6;
  border-top: 1px solid #00174a;
  border-left: 1px solid #00174a;
  padding: 10px;
  opacity: 0.8;
}

.call-to-action-footer form {
  margin: 0;
}

.close-call-to-action {
  position: absolute;
  top: 7px;
  right: 10px;
}

.close-call-to-action img {
  width: 20px;
}

.call-to-action-footer .twitter-link {
  padding: 5px;
  display: block;
  height: 40px;
  width: 40px;
}
.call-to-action-footer .twitter-link img {
  width: 40px;
}

.call-to-action .mailing-list-header {
  margin-bottom: 10px;
}
