/* gallery-css ; tweaked by bkase */
.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: #E5E9F2;
}

.gallery a.selected {
  color: #8492A6;
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  opacity: 1;
}

.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.gallery .control-operator {
  display: none;
}

.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.gallery .control-operator:target ~ .controls .control-button {
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

@-webkit-keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  14.3%, 50% {
    color: white;
    color: #8492A6;
  }

  64.3%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-o-keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  14.3%, 50% {
    color: white;
    color: #8492A6;
  }

  64.3%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  14.3%, 50% {
    color: white;
    color: #8492A6;
  }

  64.3%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-webkit-keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }

  14.3%, 50% {
    opacity: 1;
  }

  64.3%, 100% {
    opacity: 0;
  }
}

@-o-keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }

  14.3%, 50% {
    opacity: 1;
  }

  64.3%, 100% {
    opacity: 0;
  }
}

@keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }

  14.3%, 50% {
    opacity: 1;
  }

  64.3%, 100% {
    opacity: 0;
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-2.autoplay .control-button {
  -webkit-animation: controlAnimation-2 14s infinite;
  -o-animation: controlAnimation-2 14s infinite;
  animation: controlAnimation-2 14s infinite;
}

.items-2.autoplay .item {
  -webkit-animation: galleryAnimation-2 14s infinite;
  -o-animation: galleryAnimation-2 14s infinite;
  animation: galleryAnimation-2 14s infinite;
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

@-webkit-keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  9.5%, 33.3% {
    color: white;
    color: #8492A6;
  }

  42.9%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-o-keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  9.5%, 33.3% {
    color: white;
    color: #8492A6;
  }

  42.9%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  9.5%, 33.3% {
    color: white;
    color: #8492A6;
  }

  42.9%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-webkit-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.5%, 33.3% {
    opacity: 1;
  }

  42.9%, 100% {
    opacity: 0;
  }
}

@-o-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.5%, 33.3% {
    opacity: 1;
  }

  42.9%, 100% {
    opacity: 0;
  }
}

@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.5%, 33.3% {
    opacity: 1;
  }

  42.9%, 100% {
    opacity: 0;
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-3.autoplay .control-button {
  -webkit-animation: controlAnimation-3 21s infinite;
  -o-animation: controlAnimation-3 21s infinite;
  animation: controlAnimation-3 21s infinite;
}

.items-3.autoplay .item {
  -webkit-animation: galleryAnimation-3 21s infinite;
  -o-animation: galleryAnimation-3 21s infinite;
  animation: galleryAnimation-3 21s infinite;
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  7.1%, 25% {
    color: white;
    color: #8492A6;
  }

  32.1%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-o-keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  7.1%, 25% {
    color: white;
    color: #8492A6;
  }

  32.1%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  7.1%, 25% {
    color: white;
    color: #8492A6;
  }

  32.1%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-webkit-keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }

  7.1%, 25% {
    opacity: 1;
  }

  32.1%, 100% {
    opacity: 0;
  }
}

@-o-keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }

  7.1%, 25% {
    opacity: 1;
  }

  32.1%, 100% {
    opacity: 0;
  }
}

@keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }

  7.1%, 25% {
    opacity: 1;
  }

  32.1%, 100% {
    opacity: 0;
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.items-4.autoplay .control-button {
  -webkit-animation: controlAnimation-4 28s infinite;
  -o-animation: controlAnimation-4 28s infinite;
  animation: controlAnimation-4 28s infinite;
}

.items-4.autoplay .item {
  -webkit-animation: galleryAnimation-4 28s infinite;
  -o-animation: galleryAnimation-4 28s infinite;
  animation: galleryAnimation-4 28s infinite;
}

.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
  -webkit-animation-delay: 19s;
  -o-animation-delay: 19s;
  animation-delay: 19s;
}

@-webkit-keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  5.7%, 20% {
    color: white;
    color: #8492A6;
  }

  25.7%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-o-keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  5.7%, 20% {
    color: white;
    color: #8492A6;
  }

  25.7%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: #E5E9F2;
  }

  5.7%, 20% {
    color: white;
    color: #8492A6;
  }

  25.7%, 100% {
    color: #ccc;
    color: #E5E9F2;
  }
}

@-webkit-keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }

  5.7%, 20% {
    opacity: 1;
  }

  25.7%, 100% {
    opacity: 0;
  }
}

@-o-keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }

  5.7%, 20% {
    opacity: 1;
  }

  25.7%, 100% {
    opacity: 0;
  }
}

@keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }

  5.7%, 20% {
    opacity: 1;
  }

  25.7%, 100% {
    opacity: 0;
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1;
}

.items-5.autoplay .control-button {
  -webkit-animation: controlAnimation-5 35s infinite;
  -o-animation: controlAnimation-5 35s infinite;
  animation: controlAnimation-5 35s infinite;
}

.items-5.autoplay .item {
  -webkit-animation: galleryAnimation-5 35s infinite;
  -o-animation: galleryAnimation-5 35s infinite;
  animation: galleryAnimation-5 35s infinite;
}

.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
  -webkit-animation-delay: 19s;
  -o-animation-delay: 19s;
  animation-delay: 19s;
}

.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
  -webkit-animation-delay: 26s;
  -o-animation-delay: 26s;
  animation-delay: 26s;
}

.gallery .control-button {
  color: #E5E9F2;
}

.gallery .control-button:hover {
  color: #8492A6;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: relative;
  /* HACK: :( can't figure out why mobile won't size this right */
  padding-bottom: 8rem;
}

.gallery .item {
  overflow: hidden;
  height: 100%;
}

.gallery .item:first-of-type {
  height: 350px;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 6em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
}

.gallery .jump {
  line-height: 110px;
  vertical-align: middle;
  margin-left: 1em;
  color: #8492A6;
  text-decoration: none;
}

.gallery .jump:hover {
  color: #333;
  cursor: pointer;
}

.gallery .progress-button {
  position: absolute;
  right: 0;
}

.gallery .next-button {
  position: absolute;
  right: 0;
  text-decoration: none;
  vertical-align: middle;
  line-height: 80px;
  margin-top: 25px;
  text-align: center;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: #F9FAFC;
  border: 1px solid #EFF2F7;
  color: #8492A6;
}
.gallery .next-button > div {
  position: absolute;
  top: -16px;
  left: 2px;
  font-size: 90px;
  width: 100%;

}

.gallery .next-button:hover {
  color: #647286;
}

.gallery .item:first-of-type .next-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 242, 247, 1);
  }
  50% {
    box-shadow: 0 0 2px 40px rgba(239, 242, 247, 0);
  }
}
