/* gallery-css ; tweaked by bkase */
.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: #E5E9F2;
}

.gallery a.selected {
  color: #8492A6;
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  opacity: 1;
}

.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.gallery .control-operator {
  display: none;
}

.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.gallery .control-operator:target ~ .controls .control-button {
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1;
}


.gallery .control-button {
  color: #E5E9F2;
}

.gallery .control-button:hover {
  color: #8492A6;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: relative;
  /* HACK: :( can't figure out why mobile won't size this right */
  padding-bottom: 8rem;
}

.gallery .item {
  overflow: hidden;
  height: 100%;
}

.gallery .item:nth-of-type(1) {
  height: 350px;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 6em;
  text-align: center;
  text-decoration: none;
}

.gallery .jump {
  line-height: 110px;
  vertical-align: middle;
  margin-left: 1em;
  color: #8492A6;
  text-decoration: none;
}

.gallery .jump:hover {
  color: #333;
  cursor: pointer;
}

.gallery .progress-button {
  position: absolute;
  right: 0;
}

.gallery .next-button {
  position: absolute;
  right: 0;
  text-decoration: none;
  vertical-align: middle;
  line-height: 80px;
  margin-top: 25px;
  text-align: center;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: #F9FAFC;
  border: 1px solid #EFF2F7;
  color: #8492A6;
}
.gallery .next-button > div {
  position: absolute;
  top: -16px;
  left: 2px;
  font-size: 90px;
  width: 100%;

}

.gallery .next-button:hover {
  color: #647286;
}

.gallery .item:first-of-type .next-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 242, 247, 1);
  }
  50% {
    box-shadow: 0 0 2px 40px rgba(239, 242, 247, 0);
  }
}


