#############
src: bzl/obazl/mina/src/lib/crypto_params
TODO: make ":Group_map_params" a dep of crypto_params module above
ocaml_module(
    name     = "_Group_map_params",
    src      = ":gen_group_map_params.ml",
    opts     = CRYPTO_PARAMS_MODULE_OPTS,
    ppx      = ":ppx.exe",
    ppx_args = [
        # do not sort (buildifier)
        "--conditional",
        "-inline-test-lib",
        "crypto_params"
    ],
    deps = [
        "@snarky//group_map",
        "@mina//src/lib/pickles",
    ]
)

########
genrule(
    name       = "gen_group_map_params.ml",
    tools      = ["//src/lib/crypto_params/gen:gen.exe"],
    outs       = ["group_map_params.ml"],
    cmd        = "\n".join([
        "$(location //src/lib/crypto_params/gen:gen.exe)",
        "cp group_map_params.ml \"$@\""
    ]),
    visibility = ["//visibility:public"],
)
